/*@import "~materialize-css/dist/css/materialize.min.css";*/
html {
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: normal;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
ul[class],
ol[class] {
    padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
ol
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}
ul[class],
ol[class] {
    list-style: none;
}
a:not([class]) {
    text-decoration-skip-ink: auto;
}
img {
    max-width: 100%;
    display: block;
}
article > * + * {
    margin-top: 1em;
}
input,
button,
textarea,
select {
    font: inherit;
}
input{
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    padding: 0;
    box-shadow: none;
}
button{
    border: 3px solid rgba(230,100,101, 0.5);
    border-radius: 15px;
    background: transparent;
    padding: 0 10px;
    color: #9198e5;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.5s;
}
button:hover,
button:active,
button:focus,
button:visited{
    border-color: rgba(230,100,101, 1);
    outline: none;
}

h1 {
    text-align: center;
    background: linear-gradient(#e66465, #9198e5);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 4.2rem;
    line-height: 110%;
    margin: 2.8rem 0 1.68rem 0;
}
.colorPicker-wrapper {
    position: relative;
    width: 300px;
    margin: 50px auto;
}
.colorPicker {
    display: flex;
    justify-content: space-around;
    position: relative;
    border-radius: 15px;
    background: #ffffff;
}
.colorPicker:after{
    content: "";
    position: absolute;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    top: -3px;
    left: -3px;
    z-index: -1;
    background: linear-gradient(90deg, rgba(230,100,101,1) 0%, rgba(145,152,229,1) 61%);
    border-radius: 15px;
}
.hex{
    width: 170px;
    padding-left: 15px;
}
.hex input {
    border-bottom: none!important;
    margin-bottom: 0;
}
.color, .arrow{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    min-width: 65px;
}

.arrow:before, .color:before {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
}
.arrow:before, .color:before{
    left: 0;
    border-left: 1px solid grey;
}
.color span{
    width: 30px;
    height: 30px;
}
.arrow {
    color: #9198e5;
    font-size: 30px;
}

.dropdown{
    position: absolute;
    top: 65px;
    right: 0;
    width: 200px;
    border: 3px solid #9198e5;
    border-radius: 15px;
}
.dropdown::before {
    content: '';
    position: absolute;
    right: 21px;
    top: -18px;
    border: 8px solid transparent;
    border-bottom: 8px solid #9198e5;
}
.dropdown_rgb::before {
    right: 44%;
}
.dropdown ul{
    margin: 0;
}
/*.dropdown_rgb{*/
    /*top: 265px;*/
    /*right: 0;*/
/*}*/
.dropdown li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    text-transform: uppercase;
}
.dropdown_arrow li {
    cursor: pointer;
    border-bottom: 1px solid #9198e5;
}
.dropdown_arrow li:first-child{
    border-radius: 11px 11px 0 0;
}
.dropdown_arrow li:last-child{
    border-bottom: none;
    border-radius: 0 0 11px 11px;
}
.dropdown_arrow li:hover, li.active{
    background: rgba(145, 152, 229, 0.5);
}
.dropdown_arrow li span:nth-child(2){
    width: 18px;
    height: 18px;
}
.range {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.range1{
    background: linear-gradient(90deg, rgba(230,100,101,1) 0%, rgba(112,111,111,1) 100%);
}
.range2{
    background: linear-gradient(90deg, rgba(9,154,14,1) 0%, rgba(111,111,112,1) 100%);
}
.range3{
    background: linear-gradient(90deg, rgba(56,86,190,1) 0%, rgba(111,111,112,1) 100%);
}
.range:hover {
    opacity: 1;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #706f6f;
    cursor: pointer;
}

.range::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: #706f6f;
    cursor: pointer;
}
.button-block{
    display: flex;
    justify-content: space-around;
    padding: 5px 0 10px;
}