@import "~materialize-css/dist/css/materialize.min.css";

h1 {
    text-align: center;
    background: linear-gradient(#e66465, #9198e5);
    -webkit-background-clip: text;
    color: transparent;
}
.colorPicker-wrapper {
    position: relative;
    width: 300px;
    margin: 50px auto;
}
.colorPicker {
    display: flex;
    justify-content: space-around;
    position: relative;
    border-radius: 15px;
    background: #ffffff;
}
.colorPicker:after{
    content: "";
    position: absolute;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    top: -3px;
    left: -3px;
    z-index: -1;
    background: linear-gradient(90deg, rgba(230,100,101,1) 0%, rgba(145,152,229,1) 61%);
    border-radius: 15px;
}
.hex{
    width: 170px;
    padding-left: 15px;
}
.hex input {
    border-bottom: none!important;
    margin-bottom: 0;
}
.color, .arrow{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    min-width: 65px;
}

.arrow:before, .color:before {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
}
.arrow:before, .color:before{
    left: 0;
    border-left: 1px solid grey;
}
.color span{
    width: 30px;
    height: 30px;
}
.arrow {
    color: #9198e5;
    font-size: 30px;
}

.dropdown{
    position: absolute;
    top: 65px;
    right: 0;
    width: 200px;
    border: 3px solid #9198e5;
    border-radius: 15px;
}
.dropdown ul{
    margin: 0;
}
.dropdown_rgb{
    top: 265px;
    right: 0;
}
.dropdown li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    text-transform: uppercase;
}
.dropdown_arrow li {
    cursor: pointer;
    border-bottom: 1px solid #9198e5;
}
.dropdown_arrow li:first-child{
    border-radius: 11px 11px 0 0;
}
.dropdown_arrow li:last-child{
    border-bottom: none;
    border-radius: 0 0 11px 11px;
}
.dropdown_arrow li:hover, li.active{
    background: rgba(145, 152, 229, 0.5);
}
.dropdown_arrow li span:nth-child(2){
    width: 18px;
    height: 18px;
}
.range{
    position: relative;
    display: inline-block;
    width: 85%;
    background-color: grey;
    height: 2px;
    border-radius: 43px;
}
.range span{
    position: absolute;
    left: 0;
    top: -4px;
    display: block;
    width: 8px;
    height: 8px;
    background-color: red;
}
